.header {
  height: 64px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.left-part {

}

.logo {
  color: white;
}

.middle-part {

}

.nav-buttom {
  
}