.nav-bar {
  display: flex;
  position: fixed;
  height: 64px;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 0 76px;
  z-index: 100;
}

.logo {
  font-family: "Orbitron", sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 3.13px;
  text-decoration: none;
  color: white;
  transition: color 0.15s;
}
.logo:hover {
  color: rgb(255, 90, 54);
}

.nav-links {
  display: flex;
  gap: 36px;
}
.nav-links a {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 3px;
  background: rgb(255, 90, 54);
  transition: width 0.3s;
}
.nav-links a:hover::after {
  width: 100%;
}