.hero,
.mission,
.features,
.pricing,
.journey,
.testimonial {
    min-height: 100vh;
}

.hero {
    height: 100vh;
    width: 100%;
    background: url("../img/bg2.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero-title {

}

.hero-description {

}

.hero-button {

}

.mission {

}

.features {

}

.feature-card {
  
}

.journey {

}

.testimonial {

}

.pricing {

}